:root {
  --yellow: #ffcc00;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: white;
  background-color: black;
}

section {
  height: 120vh;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(img/bg.jpg) no-repeat center center/cover;
}

.main-title {
  text-align: center;
  padding: 7.9rem 6.4rem 2.4rem;
  font-size: 3.1rem;
}

.main-title h1 span {
  color: var(--yellow);
  font-style: italic;
}

.main-content {
  display: grid;
  padding: 0 6.4rem;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}

.content-item {
  width: 100%;
  height: 238px;
  border-radius: 12px;
  position: relative;
  box-shadow: -3px 3px 0px #c7c7c7;
  background: rgba(0, 0, 0, 0.9);
  padding: 3.2rem 2.4rem;
}

.content-item h2,
.content-item p {
  position: relative;
  z-index: 2;
}

.content-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  z-index: 1;
}

.content-item:nth-child(1) {
  background: url(img/double.jpg) no-repeat center center/cover;
}

.content-item:nth-child(2) {
  background: url(img/step.jpg) no-repeat center center/cover;
}

.content-item:nth-child(3) {
  background-image: url(img/remove.jpg);
  background-repeat: no-repeat;
  background-position: center 95%;
  background-size: cover;
}

.content-item:nth-child(4) {
  background: url(img/flat.jpg) no-repeat center center/cover;
}

.content-title {
  font-size: 2.4rem;
  padding-bottom: 1.2rem;
}

.content-text {
  font-size: 1.8rem;
  height: 3.2rem;
  line-height: 175%;
}

.content-text p:nth-child(odd) {
  color: var(--yellow);
  font-weight: 700;
}
